//- include common/header.pug
extends base.pug          

block content 
    section.banner.bg-dark.py-5 
        div.container.text-center.py-3
            h2.text-white This is banner section 
            p.text-white Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis non nemo sapiente unde, debitis hic sed saepe at laboriosam reprehenderit quibusdam et sunt, possimus culpa autem? Iste sapiente officia amet?

    section#partners.border.mt-4.bg-light 
        | this is partners section
        div.row.text-center
            h2 Roadmap
        div.row.p-4.w-75.m-auto
            div.card.col.ms-2.border.border-1
                h3 this is card1
                p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nesciunt dolorem explicabo esse cumque aperiam ducimus ut
            div.card.col.ms-2.border.border-1 
                h3 this is card2
                p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nesciunt dolorem explicabo esse cumque aperiam ducimus ut
            div.card.col.ms-2.border.border-1 
                h3 this is card3
                p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nesciunt dolorem explicabo esse cumque aperiam ducimus ut
    //- .form.w-50.m-auto 
    

