//- doctype html 
//- html 
//-     head 
//-         title Elevated 
//-         //- css file
//-         style 
//-             include ../../static/style.css
//-             include ../../static/bootstrap/css/bootstrap.min.css
//-     body 
//-         div.container-fluid
//-             nav#navbar.navigation.container
//-                 ul.d-flex 
//-                     li.ms-5 #[a(href="/") Home] 
//-                     li.ms-5 #[a(href="/about") About] 
//-                     li.ms-5 #[a(href="/services") Services]
//-                     li.ms-5 #[a(href="/contact") Contact]


